<div class="container-fluid col-sm-6">
    <h2>Insert update delete Example</h2>
    <form #frm="ngForm" *ngIf="isadd" (ngSubmit)="add(frm.value)">
        <div class="form-group">
            <label>FirstName:</label>
            <input type="text" class="form-control col-sm-6" name="FirstName" [(ngModel)]="user.FirstName">
            <label>LastName:</label>
            <input type="text" class="form-control col-sm-6" name="LastName" [(ngModel)]="user.LastName">
            <br>
            <button type="submit" class="btn btn-primary" *ngIf="isadd">add</button>
        </div>
    </form>
    <form #frm="ngForm" *ngIf="!isadd">
        <div class="form-group">
        <label>FirstName:</label>
        <input type="text" class="form-control col-sm-6" name="FirstName" [(ngModel)]="updateuser.FirstName">
        <label>LastName:</label>
        <input type="text" class="form-control col-sm-6" name="LastName" [(ngModel)]="updateuser.LastName">
        <br>
        <button type="button" class="btn btn-primary" *ngIf="!isadd" (click)="update(frm.value)">Update</button>
        </div>
    </form>

    <table class="table table-hover table-responsive">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
        <tr *ngFor="let User of user">
            <td>{{User.FirstName}}</td>
            <td>{{User.LastName}}</td>
            <td><button class="btn btn-sm btn-danger" type="button" (click)="delete(User._id)">Delete</button>
                <button class="btn btn-sm btn-primary" type="button" (click)="edit(User)">Edit</button>

            </td>
        </tr>
    </table>
</div>

